data/mt_config.json
/data/localization/UEFN
/data/localization/UEFN_Categories
/data/localization/UEFN_DisplayNames
/data/localization/UEFN_ToolTips
/data/cosmetics/Datatables
/data/cosmetics/Metadata
/data/cosmetics/BattleBuses
/data/cosmetics/Series
/data/cosmetics/Dances/BacklogEmotes
