@import url("/styles/global.css");
@import url("/tools/common.css");

main {
  flex: 1;
  min-width: 0;
}

aside {
  flex: 1;
  min-width: 0;
}

#bundle-display {
  width: 100% !important;
}