@import url("./sections.css");
@import url("./global.css");

/* logo link styles */
.logo a,
a:not(.link) {
    transition: all 0.3s ease;
    text-decoration: none;
}

a:not(.link):hover {
    filter: brightness(80%);
}

a:not(.link):active {
    box-shadow: var(--link-shadow);
    border-radius: 3px;
    background: var(--link-bgcolor);
}

.logo > a {
    margin: 0.25rem;
    padding: 0.5rem;
}

/*  
======================
		Header
======================
*/
header {
    display: flex;
    position: static;
    align-items: center;
    background: var(--col-bg3);
    padding: 0.3rem 6rem 0.3rem 4rem;
    width: 100%;
    min-height: 5.5rem;
    height: auto;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 1.5rem;
    width: 4rem;
}

header .logo > span {
    display: flex;
}

header .logo .name,
header .logo .name-short {
    font-weight: 500;
    font-size: 1.5rem;
    white-space: nowrap;
}

header .logo .name-short {
    display: none;
}

header .logo .version {
    align-self: flex-end;
    margin-left: 0.5rem;
    color: #ffffffa0;
    font-weight: 300;
    font-size: 1rem;
}

header nav {
    margin-left: 5rem;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    margin: 0.5rem 1rem;
    outline: none;
    border-radius: 999px;
    height: 2.5rem;
    color: white;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

header nav a:hover,
header nav a:focus {
    box-shadow: 0 0 10px 0 #fff1;
    background: #fff1;
}

/*  
========================
		Main CSS
========================
*/
body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

/*  
=============================
		Responsiveness
=============================
*/
@media screen and (width <= 1000px) {
    header {
        padding-right: 1rem;
        padding-left: 1rem;
        height: 3.6rem;
    }

    header .logo img {
        margin: 0.5rem;
        width: 2.4rem;
    }

    header .logo .name {
        font-size: 1.15rem;
    }

    header .logo .version {
        font-size: 0.8rem;
    }

    header nav {
        padding-left: 1rem;
    }

    header nav a {
        margin: 0.2rem 0.5rem;
        height: 2.5rem;
    }
}

@media screen and (width <= 400px) {
    header .logo .name {
        font-size: 1rem;
    }

    header .logo .name-short {
        display: inline;
    }
}

@media screen and (width <= 600px) {
    header nav {
        display: none;
    }
}